# Uma lista separada por vírgulas de nomes de pacotes ou módulos de onde as extensões C podem# ser carregado. As extensões estão sendo carregadas no interpretador Python ativo e podem
# execute código arbitrário.
extension-pkg-whitelist=cv2